# Ignore all CSV files
*.csv

# If you only want to ignore large dataset folder and not every CSV:
# data/new_data/*.csv

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
ENV/
build/
dist/
*.log

# VSCode
.vscode/

data/new_data/*.csv



# Ignore entire database folder (contains large datasets)
data/
